/* .v-card.v-card--variant-outlined {
  border-width: thin;
  border-style: solid;
  border-color: rgba(var(--v-border-color, #DFE0EB), var(--v-border-opacity));
}
.v-field.v-field--variant-outlined {
  border-width: thin;
  border-style: solid;
  border-color: rgba(var(--v-border-color, #DFE0EB), var(--v-border-opacity));
}
 */
